@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: rgb(190, 188, 188);
}    

.header-link {
    color:#e5e7eb;
}

.hero-image > img {
    min-width: 300px;
    max-width: 50%;
    height: auto;
    border-radius: 1;
}

.info > img {
    width: 240px;
    height: 240px;
    border-radius: 36px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}

button {
    background-color: #ffd700;
    text-align: center;
}

.section-1, .footer {
    background-color: #602872;
}

.header {
    display: flex;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    padding-top: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-image {
    display: flex;
    /* background-color: grey; */
    flex: 1;
    justify-content: center;
}

.hero-secondary, .link-text {
    font-size: 18px;
    color:#e5e7eb;
}

.hero-secondary {
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn {
    border-style: solid;
    height: 24px;
    width: 72px;
    text-align: center;
    border-color: none;
    color: black;
    border-radius: 24px;
    font-weight: 600;

}

.section-2, .section-3, .section-4 {
    padding: 48px 24px 48px 24px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight:700;
    color: #602872;
    margin-bottom: 32px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    text-align:center;
  }
  
.info {
    max-width: 240px;
    margin-top: 24px;
}

.text {
    margin-top: 4px;
    font-size: 12px;
    color: rgb(190, 188, 188);
}

.subtext {
    margin-top: 12px;
    font-weight: 600;

}


.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 18px;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin-right: 96px;
    margin-left: 96px;
}

.quote-source {
    display: flex;
    justify-content: flex-end;
    margin-right: 124px;
    margin-top: 24px;
}

.section-4 {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #662d91;
    margin-left: 128px;
    margin-right: 128px;
    padding: 48px;  
    border-radius: 24px; 
}

.cta-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 48px;
}

.cta-title {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
    font-weight: 800;
}

.cta-subtext {
    display: flex;
    color: white;
}

.cta-button {
    display: flex;
    justify-content: center;
    height: 36px;
    width: 124px;
    align-items: center;
    color: black;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 900;
    border-style: solid;
    border-color: white;
}


